<!DOCTYPE html>
<html lang="en">
<head>
<title>Home page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/home_page_main.js">

</head>
<body>

<!-- Navbar -->

  <nav>
    <div class="w3-top">
      <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <!-- <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Food</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Exercise</a>  -->
        <a id="signup" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign Up</a> 
        <a id="login" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
      </div>
    </div>
  </nav>


  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <main class="w3-main" style="margin-left:150px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Lose Weight with Optimum Nutra-Fit — for FREE!</h1>
        <p>Losing weight isn't easy - we know. But with a membership to Optimum Nutra-Fit, you'll get the tools you need to successfully take weight off - and keep it off. And best of all, you can signup for free, no strings attached. So put away your credit card - you'll never have to pay a cent.

          Study after study has confirmed the benefits of keeping track of the food you eat and the activity you do. It's simple - the more consistently you track your food intake, the more likely you are to lose weight. That's why every successful weight management program suggests that you keep a food diary and/or an activity log. But recording everything you eat without the right tools can be tedious at best, or simply impossible at worst.
          
          At Optimum Nutra-Fit, we focus on making sure you can log your meals as quickly and easily as possible. Because the easier we make it for you, the more likely you are to stay on track, and the more likely you are to succeed in your weight loss goals.
        </p>
      </div>

    </div>

    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">How does it work?</h1>
        <p>The reason our system is so easy to use is because it learns from you! All of us tend to eat the same foods over time. Optimum Nutra-Fit remembers what you've eaten and done most often in the past, and makes it easy for you to add those foods again to your log.

          So the more you track your meals, the easier it becomes!
        </p>
      </div>
    </div>

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Don't wait! Start losing weight the healthy way - all for FREE!</h1>
        <p>
          All the tools you need for healthy, sustainable weight loss are right at your fingertips - and you'll never have to pay a cent! So what are you waiting for? Stop wasting money on other dieting programs.
          
          Join today and get on the path to healthier living!
        </p>
      </div>
    </div>

  </main>

  <footer id="myFooter">

      <div class="w3-container w3-theme-l2 w3-padding-32">

      </div>

  </footer>

  <!-- END MAIN -->


  <script src='js/home_page_main.js'></script>
</body>
</html>
