<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/user_creation_style.css">
</head>
<body>

  <form action="/login" method="post">
  
    <h1>Login</h1>
    
    <fieldset>
      <legend>Login</legend>

      <label for="login_username">Username:</label>
      <input type="text" id="login_username" name="login_username">
      
      <label for="login_password">Password:</label>
      <input type="password" id="login_password" name="login_password">
 

    </fieldset>
    
    <button type="submit">Login</button>
  </form>
  
  <script src='js/user_creation_main.js'></script>
</body>
</html>