<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <form action="index.html" method="post">
  
    <h1>Sign Up</h1>
    
    <fieldset>
      <legend><span class="number">1</span>Your basic info</legend>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
 

    </fieldset>
    
    <fieldset>
      <legend><span class="number">2</span>Measurements</legend>

      <label for="Weight">Weight:</label>
      <input type="text" id="weight" name="weight">
      
      <label for="height">Height:</label>
      <input type="text" id="height" name="height">

    </fieldset>

    <button type="submit">Sign Up</button>
  </form>
  
</body>
</html>